* {
    padding: 0;
    margin: 0;
    font-family: 'Verdana', 'Helvetica', sans-serif;
}

table, td, th {
    border: 1px solid #777777;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    font-weight: normal;
    font-size: 12px;
}

.table {
    display: none;
    width: 1100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

#table_top_row th {
    background-color: #DADADA;
    font-weight: bold;
}

.table th {
    cursor: default;
}

.term_img {
    width: 200px;
}

.change_img_btn, .change_loc_btn {
    width: 100px;
    padding: 5px;
    margin-top: 5px;
}

.img_option {
    width: 200px;
    vertical-align: middle;
    margin: 10px 0 10px 30px;
}

#popup_content {
    display: none;
}

input[name="lat"], input[name="lng"] {
    font-size: 13px;
}

input[name="img_url"] {
    font-size: 13px;
    margin-top: 13px;
    margin-bottom: 5px;
    width: 250px;
}
